<div class="min-h-screen bg-base-200" data-theme="light">
  <div class="navbar bg-base-100 shadow-md px-8">
    <div class="flex-1">
      <a routerLink="/" class="text-xl font-bold text-primary tracking-tighter">STUDENT_MS</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1 font-semibold">
        <li>
          <a routerLink="/students" routerLinkActive="text-primary"
            [routerLinkActiveOptions]="{ exact: true }">Listado</a>
        </li>
        <li>
          <a routerLink="/students/register" routerLinkActive="text-primary">Inscribir</a>
        </li>
      </ul>
    </div>
  </div>

  <main class="container mx-auto p-6">
    <router-outlet></router-outlet>
  </main>
  @if (uiService.toastMessage()) {
  <div class="toast toast-top toast-end mt-16 p-4 z-100 animate-in fade-in slide-in-from-right-4 duration-300">
    <div class="alert shadow-lg border-none text-white font-medium" [ngClass]="{
             'alert-success bg-success': uiService.toastType() === 'success',
             'alert-error bg-error': uiService.toastType() === 'error',
             'alert-info bg-info': uiService.toastType() === 'info'
           }">
      <div class="flex items-center gap-2">
        @if (uiService.toastType() === 'success') {
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        } @else if (uiService.toastType() === 'error') {
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        }
        <span>{{ uiService.toastMessage() }}</span>
      </div>
    </div>
  </div>
  }
</div>